.card {
    height: 400px;
    min-width: 280px;
    flex: 1;
    max-width: 380px;
    position: relative;
  
    img {
      padding: 8px;
      width: 100%;
      object-fit: contain;
    }
  }
  
  .description {
    opacity: 0;
    transition: all ease 0.3s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    right: 0;
    background: rgb(0 0 0 / 0.7);
    padding: 16px;
    margin: 0;
    backdrop-filter: brightness(0.5) blur(2px);
    max-height: 100%;
    overflow: auto;
    &:hover {
      opacity: 1;
    }
  }